/* Sección de variables */
:root {
    --color-primario: #dd0bb0c4; /* Lila */
    --color-secundario: #05055a; /* Azul */
    --fuente-base: sans-serif;
  }


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#quiz-container {
    background-color: var(--color-primario);
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
    text-align: center;
}

#question {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.option {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: var(--color-secundario);
    color: #fff;
}
